<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Methods</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>All the Methods in Codeforces API: </h1>
    <section class="buttons">
        <button id="blogEntry"><a href="/methods/blogEntry" target="_blank">blogEntry's methods</a></button>
        <br>
        <br>
        <button id="contest"><a href="/methods/contest" target="_blank">contest's methods</a></button>
        <br>
        <br>
        <button id="problemset"><a href="/methods/problemset" target="_blank">problemset's methods</a></button>
        <br>
        <br>
        <button id="recentActions"><a href="/methods/recentActions" target="_blank">recentActions's methods</a></button>
        <br>
        <br>
        <button id="user"><a href="/methods/user" target="_blank">user's methods</a></button>
    </section>
</body>
</html>