<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count needed</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/method_form_1.css">
</head>
<body>
    <h1><u>Please enter count:</u></h1>
    <br>
    <br>
    <br>
    <form action="/methods/<%= methodName %>" method="post">
        <div class="input">
            <label for="id"></label>
            <input type="number" id="id" name="id">
        </div>
        <br>
        <br>
        <br>
        <div class="submit-button">   
            <button id="submit">Submit</button>
        </div>
    </form> 
</body>
</html>