<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript"></script>
	<link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
	<h1>Codeforces API JSON codes</h1>
	<section class="buttons">
		<button><a href="/methods"><b>Methods</b></a></button>
	</section>
	<script src="script.js"></script>
  </body>
</html>