<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Methods</title>
</head>
<body>
    <section class="buttons">
        <button><a href="/methods/blogEntry" target="_blank">blogEntry methods</a></button>
        <br>
        <button><a href="/methods/contest" target="_blank">contest methods</a></button>
    </section>
</body>
</html>